PUBLIC_ORIGIN=https://pairforge.example.com
DATABASE_HOST=db.pairforge.internal
DATABASE_PORT=5432
DATABASE_NAME=pairforge
DATABASE_CA_FILE=/etc/pairforge/tls/ca.crt
DATABASE_USER=pairforge_api
DATABASE_PASSWORD=
MIGRATION_USER=pairforge_migrator
MIGRATION_PASSWORD=
RABBITMQ_HOST=rabbit.pairforge.internal
RABBITMQ_PORT=5671
RABBITMQ_USER=pairforge_api
RABBITMQ_PASSWORD=
BROKER_CA_FILE=/etc/pairforge/tls/ca.crt
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
JWT_KEY_HEX=
# Comma-separated server account UUIDs; empty denies all execution.
EXECUTION_APPROVED_USERS=
