DATABASE_HOST=db.pairforge.internal
DATABASE_PORT=5432
DATABASE_NAME=pairforge
DATABASE_CA_FILE=/etc/pairforge/tls/ca.crt
DATABASE_USER=pairforge_worker
DATABASE_PASSWORD=
RABBITMQ_HOST=rabbit.pairforge.internal
RABBITMQ_PORT=5671
RABBITMQ_USER=pairforge_worker
RABBITMQ_PASSWORD=
BROKER_CA_FILE=/etc/pairforge/tls/ca.crt
PAIRFORGE_SANDBOX_WORKSPACE_ROOT=/var/lib/pairforge-executions
PAIRFORGE_SANDBOX_NAMESPACE=pairforge
PAIRFORGE_SANDBOX_JAVA_IMAGE=
PAIRFORGE_SANDBOX_PYTHON_IMAGE=
